/* App.css */
.cart-widget {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.items{
  background-color:#E6E6E8;
  width: 300px;
  height: 300px;
}
.items .item img
{
  object-fit: contain;
}
#cart-items
{
  list-style-type: none;
  font-weight: bold;
}
